#about-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .about-sm {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        color: #fff;
        gap: 40px; 

        i {
            font-size: 60px;
            padding-top: 20px;
            color: #fff;

            &:hover {
                color: $port-default-60;
                transition: 500ms;
            }
        }
    }
}

#about-arrow {
    padding: 100px;
    display: flex;
    justify-content: center;
    background: $port-black;
    color: $port-default-60;
    height: 40px;

    i {
        font-size: 70px;
        animation: jump 1s alternate infinite;
    }
}

#about-description {
    padding: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    h1 {
        font-size: 75px;
        font-weight: 300;
        margin-bottom: 60px;
    }

    p {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 5px;
        text-align: justify;
    }
}

@keyframes jump{
    0% {
        transform: translateY(20px); 
    }

    50% {
        transform: translateY(-10px); 
    }

    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 1000px){
    #about-banner {
        
        .about-sm {
            margin-top: 20px;

            i {
                font-size: 50px;
            }
        }
    }
}