.skill-banner {
    display: flex;
    flex-direction: column;
    

    .texts {
        margin-right: 150px;
        color: $port-white;
        
        h2 {
            font-size: 100px;
            margin-bottom: 30px;
            font-weight: 100;
        }

        h3 {
            font-size: 35px;
            font-weight: 100;
        }
    }
}

.skills {
    min-height: 100vh;
}

.hard-skills {
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;

    h2 {
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 15px;
        color: $port-black;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
    }
}

@media (max-width: 1140px) {
    .skill-banner {
        .texts {
            margin-left: 50px;
        }
    }
}

@media (max-width: 900px) {
    .skill-banner {
        .texts {
            margin-left: 50px;
        }
    }
}