@import './colors/colors.scss';
@import './components/banner.scss';
@import './common/section.scss';
@import './common/container.scss';
@import './components/header.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}
