@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 120px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 9;

    .logo {
        h1 {
            font-size: 50px;
            color: $def-30;
            font-weight: 100;
        }
    }

    ul{
        display: flex;
        gap: 100px;
        list-style: none;

        li > a{
            text-decoration: none;
            padding: 10px;
            color: $def-30;
            font-size: 20px;
            font-weight: 100;

            &:hover {
                background-color: $def-30;
                transition: 400ms;
                border-radius: 5px;
                color: $white-def;
                opacity: 0.5;
            }
        }
    }

    .burger {
        display: none;
    }
}

main {
    background-image: url('../images/Free_Credit_Card_Mockup_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

@media (max-width: 1140px) {
    header {
        ul {
            display: none;
        }

        .burger {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 40px;
            cursor:pointer;
    
            .bar {
                height: 6px;
                width: 40px;
                background-color: $def-30;
                border-radius: 5px;
            }
        }
    }
}