body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("https://wallpaperaccess.com/full/19602.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    width: 1140px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: rgba(63, 63, 63, 0.75);
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header h1 {
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
}
.menu ul {
    display: flex;
    justify-content: center;
}
.menu li {
    padding: 10px;
    margin-left: 40px;
}
.menu a {
    text-decoration: none;
    color: rgba(200, 200, 200, 0.9);
    padding: 20px;
    border-radius: 10px;
}
.menu a:hover {
    background-color: #fff;
    color: #999;
    transition: 800ms;
    border-radius: 10px;
}

main {
    height: 500px;
}