* {
  padding: 0;
  margin: 0;
}

/* #region parte 1 */
.flex-container {
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  gap: 10px;

  /* flex-direction: column; */
  flex-direction: column-reverse;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */

}
.flex-item {
  background-color: #ff0044;
  border: 1px solid white;
}
/* #endregion */



/* #region parte 2 */
.flex-container2 {
  box-sizing: border-box;
  padding: 10px;
  background-color: gray;
  color: white;
  min-height: 100vh;
  display: flex;
  gap: 10px;

  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; */
  flex-wrap: wrap-reverse;
}
.flex-item2 {
  background-color: #ff0044;
  border: 1px solid white;
}
/* #endregion */



/* #region parte 3 */
.flex-container3 {
  box-sizing: border-box;
  padding: 10px;
  background-color: #aaaaaa;
  color: white;
  min-height: 100vh;
  display: flex;
  gap: 10px;

  /* flex-flow: row wrap; */
  /* flex-flow: row nowrap; */
  /* flex-flow: row wrap-reverse; */
  flex-flow: row-reverse nowrap;
}
.flex-item3 {
  background-color: #ff0044;
  border: 1px solid white;
  flex: 1 1 300px;
}
.item3 {
    flex: 2 3 700px;
}
/* #endregion */