header {
    a {
        text-decoration: none;
        color: #454545;
        padding: 10px;
        border-radius: 10px;

        &:hover {
            color: $port-default-60;
            transition: 800ms;
        }
    }

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;

    .logo {
        font-size: 25px;
        font-weight: 900;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 30px;

        li {
            font-weight: 700;
        }
    }

    .burger {
        display: none;
    }
}

@media (max-width: 1140px){
    header {
        display: flex;
        justify-content: space-between;

        .logo {
            font-size: 35px;
            font-weight: 900;
        }
    

        ul {
            display: none;
        }

        .burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 35px;

            .bars {
                height: 6px;
                width: 40px;
                background-color: #454545;
                border-radius: 20px;
            }


        }
    }
}