header {
    a {
        text-decoration: none;
        color: #eaeaea;

        &:hover {
            color: $port-white;
        }
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;

    .logo {
        font-size: 25px;
        font-weight: 900;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 30px;

        li {
            font-weight: 700;
        }
    }

    .burger {
        display: none;
    }
}