* {
    padding: 0;
    margin: 0;
  }
  
  .flex-container {
    box-sizing: border-box;
    padding: 10px;
    background-color: blue;
    color: white;
    min-height: 100vh;
    display: flex;
    /* row-gap: 30px; */
    /* column-gap: 30px; */
    gap: 30px 30px;
  
    /* 1. Flex Direction */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
  
    /* 2. Flex wrap */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
  
    /* 3. Flex flow */
    /* flex-flow: row wrap; */
    /* flex-flow: row nowrap; */
    /* flex-flow: row wrap-reverse; */
    /* flex-flow: row-reverse nowrap; */
  }
  
  .flex-item {
    background-color: #ff0044;
    border: 1px solid white;
  }