/*@function backgroundColorLightness($bgColor) {
    @if(lightness($bgColor) > 50) {
        @return black;
    }
    @else {
        @return white;
    }
}


@mixin bgColorDefinition($color){
    background-color: $color;
    color: $color;
}*/

#title {
    color: mix($color: #00ff00, $color: #0000ff, $weight: 0.5)
}