#title {
    font-family: sans-serif;
    font-size: 50px;
    color: $primary-color;
}

a {
    text-decoration: none;
}

.container  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.btn {
    margin-top: 5px;
    display: block;
    width: 100px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $btn-bg-color;
        color: white;
        transition: 500ms;
    }
}