/* #region SYSTEM SETTINGS */
:root {
  --color-60: #4a004a;
  --color-30: #54003f;
  --color-10: #310349;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 400px;
  grid-auto-rows: minmax(70px, auto);
  background-color: var(--color-60);
  font-family: Nunito, sans-serif;
}
/* #endregion */

/* #region 1. HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1/4;
  padding: 10px;
  background-color: var(--color-30);
}

.logo img {
  width: 100px;
}

.search {
  display: flex;
  gap: 10px;
}
.search-form {
  width: 350px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--color-10);
  color: #fff;
}
.search-form::placeholder{
  font-size: 10px;
}
.lupa {
  height: 40px;
  width: 40px;
  background-color: var(--color-10);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
li > a {
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
}
li > a:hover {
  background-color: var(--color-60);
  color: #e9e9e9;
  transition: 500ms;
}

.burger {
  display: none;
}
/* #endregion */

/* #region ARTICLE */
article {
  grid-column: 1 / 3;
  grid-row: 2 / 9;
  background-color: var(--color-60);
}
/* #endregion */

/* #region SIDEBAR */
.sidebar {
  grid-column: 3 / 4;
  grid-row: 2 / 9;
  background-color: var(--color-30);
  
}
/* #endregion */
