$bgc-color: #ffaa33;
$font-color: #456777;


.example {
    background-color: $bgc-color;

    p {
        font-size: 20px;
        padding: 35px 40px;
        text-align: justify;
    }
}

button {
    background-color: $bgc-color;
    border: none;
    border-radius: 5px;
    padding: 10px;

    &:hover {
        background-color: #222222;
        color: #aaa;
    }
}