/*
- fontes 
1. Elemento H1 = Montserrat
2. Elementos com a classe date = Roboto
3. Elementos com a classe post-content = Open Sans

- cores
1. Background dos posts = #fffafa
2. Cor da data = #008080
*/
body {
    margin: auto 200px;
}

.post {
    background-color: #fffafa;
    padding: 10px 40px;
}

.post h1 {
    font-family: Montserrat;
}

.date {
    font-family: Roboto;
    color: #008080;
}


.post-content {
    font-family: 'Open Sans';
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
}
.logo {
    display: flex;
}
.menu {
    display: flex;
}
.menu ul {
    display: flex;
}
.menu li {
    padding-right: 30px;
}